:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
}



.fps {
  position: absolute;
  z-index: 9;
  top: 14px;
  left: 14px;
}

.playerInfo {
  position: absolute;
  z-index: 9;
  width: 50%;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: aliceblue;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}

.player>span {
  display: block;
  margin-bottom: 14px;
  color: black;
}